VITE_SITE_URL=https://www.techpathwaysinitiative.org
VITE_GOOGLE_SITE_VERIFICATION=ShPkD3ZTaLdzbYZG3U-c0Mqb4lux2zE6ftlpQMQ6VSY
VITE_GA_MEASUREMENT_ID=
VITE_PLAUSIBLE_DOMAIN=techpathwaysinitiative.org
